TZ=Europe/Istanbul

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=55432

CATALOG_DB=catalogdb
PLANNING_DB=planningdb
NOTIFICATIONS_DB=notificationsdb
SETTINGS_DB=settingsdb

REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

GATEWAY_PORT=8080
CATALOG_PORT=5101
PLANNING_PORT=5201
SETTINGS_PORT=5301
